<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EldenRingBackups.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EldenRingBackups.Properties.Settings>
            <setting name="saveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="backupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="dontWarnOnQuickLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSaveTimer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="autoSaveSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hotkeysEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </EldenRingBackups.Properties.Settings>
    </userSettings>
</configuration>